@import "variables";

$grid-dot-height: 15px;

.widget-drop-zone {
    height: 100%;

    .widget-positioner {
        position: absolute;
    }
}

.grid-dot {
    display: inline-block;
    width: $grid-dot-height;
    height: $grid-dot-height;
    border-radius: 50%;
    background-color: $orange;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(#{$grid-dot-height} * 2);
        height: calc(#{$grid-dot-height} * 2);
        border: 2px solid $orange;
        border-radius: 50%;
    }
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: calc(#{$grid-dot-height} * 2);

    .grid-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}